<div class="d-flex justify-content-center my-3">
  <div class="row align-items-center">
    <div class="col-12 col-sm-7">
      <iframe allowfullscreen=""
              class="shadow"
              height="450"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3038.924208420371!2d-3.628728384680286!3d40.388372365287715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4225a69db56d45%3A0x354b7535164dbaf!2sPolideportivo%20Campus%20Sur%20%3A%20UPM!5e0!3m2!1ses!2ses!4v1573237936056!5m2!1ses!2ses"
              style="border:0;" width="600"></iframe>
    </div>
    <div class="col-12 col-sm-5">
      <div class="custom-card shadow p-4">
        <h3 class="text-center my-3">Descúbrenos</h3>
        <ul class="text-justify">
          <li>4 pistas de cristal cubiertas</li>
          <li>3 pistas de cristal semicubiertas</li>
          <li>3 pistas de cemento exteriores</li>
          <li>2 pistas de tenis</li>
          <li>Vestuarios completos</li>
          <li>Cafetería con terraza</li>
        </ul>
      </div>
    </div>
  </div>
</div>
