<header class="jumbotron text-center text-light shadow-sm">
  <div class="overlay"></div>
  <div class="inner">
    <img class="mb-3" src="../../../assets/imgs/brand_upm.png"/>
    <h1>Pádel UPM</h1>
    <p>El club universitario más dinámico del circuito</p>
    <a class="button my-3" routerLink="/reservas">Reservar pista</a>
  </div>
</header>

<div class="container mb-4">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="custom-card shadow p-4">
        <img alt="" class="mx-auto d-block" height="96" src="../../../assets/imgs/tennis.svg" width="96">
        <h3 class="text-center my-3">Clases</h3>
        <div class="text-center collapse" id="collapseClases">
          <div>
            <p class="text-justify">El conjunto de monitores más cualificados se encargará de darte la
              formación
              en cuanto a técnica requerida en este deporte. Las clases prácticas te permitirán
              interiorizar
              los movimientos adecuados como si fuesen naturales.<br>Las clases colectivas convierten las
              clases en un espacio dinámico en el que jugar see convierte en una actividad placentera y
              divertida.
            </p>
          </div>
        </div>
        <a aria-controls="collapseClases" aria-expanded="false" class="collapsed" data-toggle="collapse"
           href="#collapseClases"></a>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="custom-card shadow p-4">
        <img alt="" class="mx-auto d-block" height="96" src="../../../assets/imgs/coach.svg" width="96">
        <h3 class="text-center my-3">Entrenamientos personalizados</h3>
        <div class="text-justify collapse" id="collapseEntrenamientos">
          <div>
            <p>Si te sientes un campeón, de verdad lo eres o simplemente quieres avanzar rápidamente en la
              técnica que rodea a este deporte te podemos configurar sesiones de entrenamiento a tu medida
              con
              un entrenador personal que se encargará de:</p>
            <ul>
              <li>Enseñarte la técnica adecuada para mejorar tus golpes</li>
              <li>Enseñarte a combinar la potencia con la técnica</li>
              <li>Mostrarte cómo mejorar el rendimiento en equipo</li>
              <li>Explicarte cómo utilizar la presión de los campeonatos en tu beneficio</li>
            </ul>
          </div>
        </div>
        <a aria-controls="collapseEntrenamientos" aria-expanded="false" class="text-center collapsed"
           data-toggle="collapse"
           href="#collapseEntrenamientos"></a>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="custom-card shadow p-4">
        <img alt="" class="mx-auto d-block" height="96" src="../../../assets/imgs/trophy.svg" width="96">
        <h3 class="text-center my-3">Campeonatos</h3>
        <div class="collapse" id="collapseCampeonatos">
          <div>
            <p class="text-justify">El club organiza campeonatos periódicos en los que te puedes divertir al
              mismo tiempo que mejoras en el deporte. Tenemos campeonatos de un día, de fin de semana y
              ligas
              regulares. Puedes participar en los torneos masculinos, femeninos y mixtos.</p>
          </div>
        </div>
        <a aria-controls="collapseCampeonatos" aria-expanded="false" class="text-center collapsed"
           data-toggle="collapse"
           href="#collapseCampeonatos"></a>
      </div>
    </div>
  </div>
</div>
