<div class="container mt-3">
  <div class="masonry">
    <div class="item1">
      <div class="overlay">
        <div class="text">
          La Escuela Padel Nuestro está dirigida a todo tipo de jugadores y edades. Contarás con un
          monitor
          exclusivo para perfeccionar tu juego.
        </div>
      </div>
      <img src="../../../assets/imgs/escuela-padel.jpg">
      <div class="caption"><h6>Escuela de pádel</h6></div>
    </div>
    <div class="item2">
      <div class="overlay">
        <div class="text">
          En el Club Padel UPM organizamos torneos y campeonatos para empresas, y diferentes tipos de
          eventos. ¡Infórmate!
        </div>
      </div>
      <div class="caption"><h6>Organización de eventos</h6></div>
      <img src="../../../assets/imgs/organizacion-eventos.jpg">
    </div>
    <div class="item2">
      <div class="overlay">
        <div class="text">
          Contamos con un amplio equipo de monitores para que perfecciones tu juego independientemente
          del
          nivel que poseas. Entrenamientos personales y especializados.
        </div>
      </div>
      <div class="caption"><h6>Preparación física</h6></div>
      <img src="../../../assets/imgs/preparacion-fisica.jpg">
    </div>
    <div class="item1">
      <div class="overlay">
        <div class="text">
          Tratamos a cada paciente individualmente. Para ello contamos con los mejores profesionales y
          el
          mejor equipo para poder recuperarse de lesiones y volver a la práctica deportiva con el
          máximo
          rendimiento.
        </div>
      </div>
      <img src="../../../assets/imgs/fisioterapia.jpg">
      <div class="caption"><h6>Fisioterapia</h6></div>
    </div>
    <div class="item1">
      <div class="overlay">
        <div class="text">
          Continúa el post-partido reponiendo fuerzas en nuestro bar-restaurante. Disponemos de un
          menú
          especializado con las mejores comidas y tapas típicas de la Comunidad de Madrid.
        </div>
      </div>
      <img src="../../../assets/imgs/cafe-restaurante.jpg">
      <div class="caption"><h6>Bar-restaurante</h6></div>
    </div>
    <div class="item2">
      <div class="overlay">
        <div class="text">
          En los vestuarios encontrarás taquillas gratuitas para dejar tus pertenencias personales y
          no tener
          que preocuparte por ellas durante el partido, y después, podrás disfrutar de una
          reconfortante ducha
          caliente.
        </div>
      </div>
      <div class="caption"><h6>Vestuarios y duchas</h6></div>
      <img src="../../../assets/imgs/vestuarios-duchas.jpg">
    </div>
  </div>
</div>
